<div id="content" class="row">
    <div id="collectionpage">
        <div class="collection-description">
            <h1></h1>
            <div class="rte"></div>
        </div>
        <div class="clear"></div>
        <!-- <div id="share_0" class="jssocials" style="border:1px solid black;"></div>  -->
        <div id="product-loop" class="desktop-12 mobile-3">
            <!-- <div id="share_1" class="jssocials" style="border:1px solid black;"></div>  -->
            <% if (typeof comps !== 'undefined') { 
                comps.forEach(function(comp,i) {  %> 
            <input type="hidden" id="_count" value="<%=comps.length%>">
            <% console.log(i) %>
                
            <div class="product-index desktop-4 tablet-2 mobile-3 
                <% if (i%3==0) { %> first <% } else if (i%3==2)  { %> last <% }%> >
                
                <div id="item_<%=i%>" class="product-index-inner">
                    
                    <div class="badge"><%=daystoenter%></div>
                    // <!-- when user clicks on a competition, she is taken to the page of the competition
                    //              I want to keep track of what competitions she has entered -->
                    <input type="hidden" class="comp_url" value="<%=url%>">
                    <a on-click="openurl">
                        <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('<%=img%>')"></div>
                    </a>
                    <div class="product-info">
                               <%=comp.title%>
                               <%if (comp.title.toLowerCase().length < 44) { %> 
                                   <div class="blankrow">&nbsp;</div>
                               <% } %>
                    </div>
                </div>
                // <!--  jssocials-info is my own class -->
                <div id="share_<%=i%>" class="jssocials-info"></div>
            </div>

            <%});
            }%>
            <div class="clear"></div>
            <% if (typeof comps !== 'undefined') { %>
                <div id="pagination" class="desktop-12 mobile-3">
                    <span class="count">Showing <%=comps.length%> items</span>
                </div>
            <% } %>
        </div>
        <div class="clear"></div>
    </div>
